<form id="coment_form" [formGroup]="MessageControlGrop" #formElement = "ngForm">
  <fieldset id="coment_content"
            [ngStyle]="{border: formElement.invalid && formElement.touched ? '2px solid red': '2px solid green'}" >
    <div id="group">
      <input
        required
        minlength="5"
        maxlength="50"
        id="title_input"
        type="text"
        [(ngModel)]="formObject.title"
        formControlName="title"
        placeholder="title..."
        [ngStyle]="{border: formElement.invalid && formElement.touched ? '2px solid red': '2px solid green'}"
        >
      <textarea
        required
        minlength="10"
        maxlength="500"
        id="body_coment"
        [(ngModel)]="formObject.body"
        cols="30"
        rows="10"
        formControlName="body"
        placeholder="message..."
        #text
        ></textarea>
    </div>
    <input
      id="send_button"
      type="submit" name="btn"
      [disabled] = "formElement.invalid"
      (click)="buttonClicked(formElement, text)">
  </fieldset>
</form>
